@tailwind base;
@tailwind components;
@tailwind utilities;

.block-editor-block .block-handle {
	opacity: 0;
}

.block-editor-block:hover .block-handle {
	opacity: 1;
}

.block-editor-block.is-dragging > [data-rbd-draggable-context-id] {
	background-color: #fff;
}
