@tailwind base;
@tailwind components;
@tailwind utilities;

.block-editor-block .block-handle {
	opacity: 0;
}

.block-editor-block:hover .block-handle {
	opacity: 1;
}

.block-editor-block.is-dragging > [data-rbd-draggable-context-id] {
	background-color: #fff;
}

.block-wrapper .action-items {
	display: none;
	position: absolute;
	bottom: -12px;
	right: 0;
	z-index: 100;
}

.block-wrapper:hover .action-items {
	display: flex;
}
